<div class="max-w-4xl mx-auto p-6 bg-white rounded-lg shadow-md">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-2xl font-bold">Gestión de Presupuesto</h2>
    <button (click)="toggleForm()" class="bg-blue-500 text-white p-2 rounded-full shadow focus:outline-none">
      <i class="fas" [ngClass]="showForm ? 'fa-minus' : 'fa-plus'"></i>
    </button>
  </div>

  <div class="flex justify-between items-center mb-4">
    <button (click)="prevMonth()" class="bg-gray-300 text-black p-2 rounded-full shadow focus:outline-none">
      <i class="fas fa-chevron-left"></i>
    </button>
    <div class="text-center">
      <p class="text-lg font-semibold"> {{ months[selectedMonth - 1] }} {{ selectedYear }} </p>
    </div>
    <button (click)="nextMonth()" class="bg-gray-300 text-black p-2 rounded-full shadow focus:outline-none">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>

  <div *ngIf="showForm" class="mt-4 transition-all duration-500 ease-in-out transform" [ngClass]="{ 'opacity-100': showForm, 'opacity-0': !showForm }">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
      <div class="col-span-1">
        <label class="block text-gray-700">Categoría</label>
        <input [(ngModel)]="budget.category" name="category" type="text" class="block w-full mt-1 p-2 border rounded" required/>
      </div>
      <div class="col-span-1">
        <label class="block text-gray-700">Monto</label>
        <input [(ngModel)]="budget.amount" name="amount" type="number" class="block w-full mt-1 p-2 border rounded" required/>
      </div>
      <div class="col-span-1 sm:col-span-2 lg:col-span-1 flex items-end">
        <button type="submit" class="w-full bg-green-500 text-white p-2 rounded">Añadir Presupuesto</button>
      </div>
    </form>
  </div>

  <div class="mt-6 bg-gray-50 p-4 rounded-lg shadow-inner">
    <h3 class="text-xl font-semibold mb-2">Presupuestos Actuales</h3>
    <ul>
      <li *ngFor="let budget of budgets" class="mb-2 p-2 border rounded flex justify-between items-center bg-white shadow-sm">
        <span>{{ budget.category }}: {{ budget.amount | currency }}</span>
        <button (click)="deleteBudget(budget.category)" class="bg-transparent text-red-500 hover:text-red-700">
          <i class="fas fa-times"></i>
        </button>
      </li>
    </ul>
  </div>
</div>
