<div class="max-w-4xl mx-auto p-6 bg-white rounded-lg shadow-md">
  <h2 class="text-2xl font-bold mb-4">Historial de Transacciones</h2>
  <div class="mb-4 flex justify-between">
    <input [(ngModel)]="filter" placeholder="Buscar..." class="block w-1/2 p-2 border rounded">
    <select [(ngModel)]="filterCategory" class="block w-1/4 p-2 border rounded">
      <option value="">Todas las Categorías</option>
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <div>
      <h3 class="text-xl font-semibold mb-2">Ingresos</h3>
      <ng-container *ngFor="let transaction of filteredTransactions">
        <div *ngIf="transaction.type === 'income'" class="mb-4 p-4 rounded-lg shadow-md">
          <div class="bg-green-50 border-l-8 border-green-500 p-2 rounded">
            <p class="font-semibold text-lg">{{ transaction.category }} - {{ transaction.amount | currency }}</p>
            <p class="text-sm text-gray-600">{{ transaction.date | dateFormat }}</p>
            <p class="text-sm text-gray-800">{{ transaction.description }}</p>
            <button (click)="deleteTransaction(transaction.id)" class="bg-transparent text-red-500 hover:text-red-700">
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
    <div>
      <h3 class="text-xl font-semibold mb-2">Gastos</h3>
      <ng-container *ngFor="let transaction of filteredTransactions">
        <div *ngIf="transaction.type === 'expense'" class="mb-4 p-4 rounded-lg shadow-md">
          <div class="bg-red-50 border-l-8 border-red-500 p-2 rounded">
            <p class="font-semibold text-lg">{{ transaction.category }} - {{ transaction.amount | currency }}</p>
            <p class="text-sm text-gray-600">{{ transaction.date | dateFormat }}</p>
            <p class="text-sm text-gray-800">{{ transaction.description }}</p>
            <button (click)="deleteTransaction(transaction.id)" class="bg-transparent text-red-500 hover:text-red-700">
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
