<div class="w-full max-w-7xl mx-auto p-6 bg-white rounded-lg shadow-md">
  <h2 class="text-2xl font-bold mb-6 text-center text-blue-600">Gestión de Transacciones</h2>
  <div class="flex justify-between space-x-6">
    <!-- Formulario de Registro de Transacción -->
    <div class="w-1/2 bg-gray-100 p-6 rounded-lg shadow-inner">
      <h3 class="text-xl font-semibold mb-4">Registrar Transacción</h3>
      <form #form="ngForm" (ngSubmit)="addTransaction()" class="space-y-4">
        <div>
          <label class="block text-gray-700 font-medium mb-1">Tipo</label>
          <select [(ngModel)]="transaction.type" name="type" class="block w-full mt-1 p-2 border rounded" required>
            <option value="income">Ingreso</option>
            <option value="expense">Gasto</option>
          </select>
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-1">Categoría</label>
          <input [(ngModel)]="transaction.category" name="category" type="text" class="block w-full mt-1 p-2 border rounded" required>
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-1">Monto</label>
          <input [(ngModel)]="transaction.amount" name="amount" type="number" class="block w-full mt-1 p-2 border rounded" required>
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-1">Fecha</label>
          <input [(ngModel)]="transaction.date" name="date" type="date" class="block w-full mt-1 p-2 border rounded" required>
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-1">Descripción</label>
          <textarea [(ngModel)]="transaction.description" name="description" class="block w-full mt-1 p-2 border rounded" required></textarea>
        </div>
        <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white p-2 rounded">Registrar</button>
      </form>
    </div>

    <!-- Historial de Transacciones -->
    <div class="w-1/2 bg-gray-100 p-6 rounded-lg shadow-inner">
      <h3 class="text-xl font-semibold mb-4">Historial de Transacciones</h3>
      <div class="mb-4 flex justify-between items-center">
        <input [(ngModel)]="filter" placeholder="Buscar..." class="block w-1/2 p-2 border rounded">
        <select [(ngModel)]="filterCategory" class="block w-25 p-2 border rounded">
          <option value="">Todas las Categorías</option>
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div>
          <h3 class="text-xl font-semibold mb-2">Ingresos</h3>
          <ng-container *ngFor="let transaction of filteredTransactions">
            <div *ngIf="transaction.type === 'income'" class="mb-4 p-4 rounded-lg shadow-md bg-green-50 border-l-8 border-green-500">
              <div class="flex justify-between items-center">
                <div>
                  <p class="font-semibold text-lg text-green-700">{{ transaction.category }} - {{ transaction.amount | currency }}</p>
                  <p class="text-sm text-gray-600">{{ transaction.date | date: 'dd/MM/yyyy' }}</p>
                  <p class="text-sm text-gray-800">{{ transaction.description }}</p>
                </div>
                <button (click)="deleteTransaction(transaction.id)" class="bg-transparent text-red-500 hover:text-red-700">
                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                  </svg>
                </button>
              </div>
            </div>
          </ng-container>
        </div>
        <div>
          <h3 class="text-xl font-semibold mb-2">Gastos</h3>
          <ng-container *ngFor="let transaction of filteredTransactions">
            <div *ngIf="transaction.type === 'expense'" class="mb-4 p-4 rounded-lg shadow-md bg-red-50 border-l-8 border-red-500">
              <div class="flex justify-between items-center">
                <div>
                  <p class="font-semibold text-lg text-red-700">{{ transaction.category }} - {{ transaction.amount | currency }}</p>
                  <p class="text-sm text-gray-600">{{ transaction.date | date: 'dd/MM/yyyy' }}</p>
                  <p class="text-sm text-gray-800">{{ transaction.description }}</p>
                </div>
                <button (click)="deleteTransaction(transaction.id)" class="bg-transparent text-red-500 hover:text-red-700">
                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                  </svg>
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
